.success_message{
  background: #1eff00;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  font-size: 25px;
  height: 100px;
  margin: 10px;
  animation: succes 3s linear forwards;
}
@keyframes succes {
  0%{
    display: flex;
  }  
  100%{
    display: none;
  }
}